body {
  background-color: rgba(104, 178, 221, 220);
}

#img1 {
  text-align: center;
  background-color: white;
}

#clock {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 8em;
}

#periodText {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 3em;
}

#introText {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 2em;
}
